.profile__edit-button {
  background-color: transparent;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}